*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* main css */
.main{
    height: 90vh;
    width: 100%;
    background-color: #2e2e2e;
    padding: 0px 12%;
    display: flex;
    flex-direction: column;
    
}
.header{
    width: 100%;
    padding: 20px 0%;
    /* background-color: red; */
    margin-top: 20px;
    display: flex;
    justify-content: space-between;



}
.logo{
    width: 20%;
    height: 50px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}
.logo-img
{
    font-style: unset;
    color: white;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.social{
    width: 35%;
    height: 50px;
    /* background-color: blue; */
}
.socials{
    width: 100%;
    height: 50px;
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    list-style-type: none;
    font-size: 25px;
    color: white;
}
.btn{
    padding: 10px 20px;
    background-color: #e56f14;
    color: white;
    border: 1px solid #e56f14;
    font-size: 12px;
    border-radius: 9px;
    font-weight: bold;
    font-family: 'poppins';
}
/* main content css */

.main-content{
    width: 100%;
    /* height: 200px; */
    /* background-color: green; */
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}
.intro{
    width: 50%;
    /* height: 200px; */
    padding: 25px;
    /* background-color: white; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.name{
    font-size: 66px;
    color:  #e56f14;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
}
.role{
    font-size: 20px;
}
.a{
    font-size: 12px;
    margin-top: 10px;
}
.ncc{
    font-size: 30px;
    margin-top: 10px;
}
.ttm-btn{
    margin-top: 20px;
}
.my-pic{
    width: 40%;
    /* height: 400px; */
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;

}
.pic{
    width: 20%;
    height: 350px;
    background-color: rgb(165, 176, 177);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    border-radius: 12px;
    z-index: 50;
    overflow: hidden;
}
.bg{
    width: 70%;
    height: 340px;
    background-color: #e56f14;
    transform: rotateZ(100deg);
    border-radius: 12px;
}
.pic > img
{
    width: 100%;
    vertical-align: bottom;
    object-fit: fill;

}

/* @keyframes slow-rotation {
    from {
        transform: rotateZ(35deg);
    }
    to {
        transform: rotateZ(395deg);
    }
} */

.bg {
    animation: slow-rotation 20s linear infinite;
}
.navigation{
    width: 100%;
    padding: 30px 12%;
    /* background-color: red; */
    margin-top: -80px;
    position: absolute;
}
.nav{
    width: 100%;
    /* height: 100px; */
    background-color: black;
    display: flex;
    align-items: center;
    column-gap: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    
}
.nav-item{
    width: 100px;
    padding: 25px 0px;
    background-color:  #2e2e2e;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    column-gap: 15px;
    border-radius: 10px;
    transition: .2s;
    overflow: hidden;
    transition: .3s;
    cursor: pointer;

}
.nav-item:hover
{
    width: 250px;
}
.nav-link{
    width: 250px;
    /* background-color: red; */
    margin-left: 26px;
}
.nav-link > i{
    display: inline-block;
    margin-left: 10px;
    color: #e56f14;
}
.nav-link > p{
    display: inline-block;
    margin-left: 60px;
    transition: .3s;
    /* display: none; */

}
.nav-item:hover .nav-link > p {
    margin-left: 10px;
}

/* contant area css */
.contant{
    width: 100%;
    /* height: 400px; */
    padding: 30px 12%;
    background-color: #393838;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.display-area{
    width: 100%;
    /* height: 300px; */
    background-color: #2e2e2e;
    margin-top: 60px;
    padding: 20px 30px;
    
}
.about-me{
    width: 100%;
   padding: 10px 0;
    background-color: #2e2e2e;
    display: flex;
    column-gap: 6%;
    flex-wrap: wrap;
    row-gap: 30px;
    /* display: none; */
}
.about{
    width: 47%;
    padding: 10px;
    background-color: #535050;
    color: white;
}
.about > ul{
    list-style-type: none;
    margin-top: 10px;
}
.about > p{
    margin-top: 10px;
}
.about-tittle{
    color: #e56f14;
}


/* skills */


.works{
    width: 100%;
    padding: 10px 10px;
    /* background-color: yellow; */
    display: flex;
    column-gap: 17%;
    flex-wrap: wrap;
    row-gap: 40px;
    display: none;
}
.work{
    width: 12%;
    height: 110px;
    background-color: red;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    border-radius: 10px;
}
.work-overlay{
    height: 100%;
    width: 100%;
    background-color: rgba(229, 111, 20, .6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin-top: 100%;
    transition: .3s;
    
}
.work:hover .work-overlay{
    margin-top: 0px;
}
.work1{
    background-image: url('./vecteezy_html-programming-transparent-logo_51336399.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.work2{
    background-image: url('./vecteezy_css-programming-transparent-logo_51336376.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.work3{
    background-image: url('./vecteezy_javascript-logo-png-javascript-icon-transparent-png_27127463.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.work4{
    background-image: url('./vecteezy_react-icon-on-white-square-button_49401766.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.work5{
    background-image: url('./vecteezy_python-icon-transparent-background_48332144.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.work6{
    background-image: url('./vecteezy_node-js-framework-3d-icon-transparent-background_60194950.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.work7{
    background-image: url('./vecteezy_3d-green-tree-3d-render-illustration_23640024.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}
.work8{
    background-image: url('./vecteezy_typescript-programming-language-3d-icon-transparent-background_60194946.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

/* project */

.project{
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    display: none;
    /* background-color: green; */
}
.project-photo{
    width: 50%;
    height: 400px;
    /* background-color: pink; */
    background-image: url("./Screenshot\ 2025-09-12\ at\ 8.43.21\ PM.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}
.project-matter{
    width: 45%;
    height: 430px;
    /* background-color: orange; */
    color: white;
}
.head-m{
    color: #e56f14;
}
/* contact */
.contact1{
    width: 100%;
    padding: 10px 0px;
    display: none;
    /* background-color: yellowgreen; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.mail1{
    width: 100%;
    height: 50px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

}
.me1{
    color: #e56f14;
}
.me2{
    color: #83481a;
}
.head2{
    width: 100%;
    height: 50px;
    /* background-color: yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;

}
.main2{
    width: 100%;
    height: 300px;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.insta{
    width: 13%;
    height: 60px;
    background-color: gray;
    border-radius: 10px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.insta > p {
    margin-bottom: 3px;
}
.email{
    width: 13%;
    height: 60px;
    background-color: gray;
    margin-top: 80px;
    border-radius: 10px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.email > p {
    margin-bottom: 3px;
}

.linkdin{
    width: 13%;
    height: 60px;
    background-color: gray;
    margin-top: 80px;
    border-radius: 10px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;

}
.linkdin > p {
    margin-bottom: 3px;
}
.whats{
    width: 13%;
    height: 60px;
    background-color: gray;
    margin-top: 80px;
    border-radius: 10px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.whats > p {
    margin-bottom: 3px;
}
.twiter{
    width: 13%;
    height: 60px;
    background-color: gray;
    margin-top: 80px;
    border-radius: 10px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.twiter > p {
    margin-bottom: 3px;
}

.vr{
    border: 100px;
}















































































@media (min-width:381px) and (max-width: 720px)  {
    .name {
        font-size:20px;
    }
}

@media screen and (max-width: 380px)  {
    .name {
        font-size: 10px;
    }
}